<div class="container-fluid">
  <div class="row">
    <div class="hero-unit">
      <div ng-show="firstPhase" class="firstPhase animated fadeInDown">
        <p id="left">Wherever your favorite spot may be...</p>
      </div>
      <div ng-show="secondPhase" class="secondPhase animated fadeInDown">
        <p id="right">...we've got you covered.</p>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div ng-show="thirdPhase" class="row animated fadeInUp">
        <div class="col-md-4">
          <div class="infoCard">Use our tools to gain an extra edge in your fishing experience</div>
        </div>
        <div class="col-md-4">
          <div class="infoCard">We take weather data and use it to provide reliable odds</div>
        </div>
        <div class="col-md-4">
          <div class="infoCard">Save locations to quickly access your favorite spots</div>
        </div>
      </div>
    </div>
  </div>
</div>
