<div class="container-fluid">
  <div class="row">
    <div class="hero-unit">
      <div ng-show="firstPhase" class="firstPhase animated fadeInDown">
        <p id="left">Wherever your favorite spot may be...</p>
      </div>
      <div ng-show="secondPhase" class="secondPhase animated fadeInDown">
        <p id="right">...we've got you covered.</p>
      </div>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <div ng-show="thirdPhase" class="row animated fadeInUp">
        <div class="col-lg-4 col-md-4">
          <div class="infoCard">Tools developed by fishermen, for fishermen - gain an extra edge in your fishing experience.</div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="infoCard">Using realtime weather data EliteCatch provides you with the most accurate fishing odds.</div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="infoCard">Save locations to quickly access your favorite spots and spend more time doing what you love.</div>
        </div>
      </div>
    </div>
    <div class="radarInfo">
      <img src="" alt="">
    </div>
  </div>
</div>
