body {
  font-family: Avenir; }

.container {
  margin: 0; }

.hero-unit {
  position: relative;
  background-image: url("../images/fish01.jpg");
  background-size: cover;
  height: 75vh;
  margin-bottom: 20px; }
  .hero-unit #right {
    position: absolute;
    right: 30vw;
    top: 25vh;
    font-size: 3em; }
  .hero-unit #left {
    position: absolute;
    left: 20vw;
    top: 12vh;
    font-size: 3em; }

.infoCard {
  font-size: 1.8em; }

.radarInfo {
  background-color: #ededed;
  margin-top: 200px;
  height: 80vh; }
  .radarInfo img {
    height: 300px;
    margin-top: 20vh; }

#radarDescription {
  font-size: 2em;
  margin-top: 18vh; }

.depthInfo {
  margin-top: 100px;
  height: 60vh; }
  .depthInfo img {
    height: 300px; }

#depthDescription {
  font-size: 2em; }
  #depthDescription p {
    margin-top: 30px; }
  #depthDescription #topParagraph {
    margin-top: 0; }

.letsBegin {
  background-color: #ededed;
  height: 50vh; }
  .letsBegin h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center; }
  .letsBegin .begin {
    text-align: center;
    margin-top: 15px; }

.footer {
  text-align: center;
  height: 50px; }
  .footer img {
    height: 50px;
    cursor: pointer; }
