.container {
  margin: 0; }

.hero-unit.welcome {
  position: relative;
  background-image: url("../images/fish01.jpg");
  background-size: cover;
  height: 75vh;
  margin-bottom: 20px;
  border-bottom: 5px solid #ededed; }
  .hero-unit.welcome #right {
    position: absolute;
    right: 30vw;
    top: 25vh;
    font-size: 3em; }
  .hero-unit.welcome #left {
    position: absolute;
    left: 20vw;
    top: 12vh;
    font-size: 3em; }

.infoCard {
  font-size: 1.8em; }

.radarInfo {
  background-color: #ededed;
  margin-top: 200px;
  height: 80vh; }
  .radarInfo img {
    height: 300px;
    margin-top: 20vh;
    margin-left: 50px; }

#radarDescription {
  font-size: 2em;
  margin-top: 18vh; }

.depthInfo {
  margin-top: 100px;
  height: 60vh; }
  .depthInfo img {
    height: 300px; }

#depthDescription {
  font-size: 2em; }
  #depthDescription p {
    margin-top: 30px; }
  #depthDescription #topParagraph {
    margin-top: 0; }

.letsBegin {
  background-color: #ededed;
  height: 50vh; }
  .letsBegin h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center; }
  .letsBegin .begin {
    text-align: center;
    margin-top: 15px; }

.centerMagic {
  text-align: center;
  margin-left: 20px; }

.centerPanel {
  text-align: center; }

.footer {
  text-align: center;
  height: 50px; }
  .footer img {
    height: 50px;
    cursor: pointer; }

.hero-unit.return {
  position: fixed;
  top: 0;
  background-image: url("./../images/fishing2.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  repeat: none;
  margin-bottom: 20px; }
  .hero-unit.return #returnState {
    text-align: center;
    font-size: 5em; }

.borderlessCol {
  height: 100%;
  padding: 0; }

tr th {
  text-align: center; }

tr td {
  text-align: center; }

i {
  cursor: pointer; }
  i :active {
    background-color: #d5d5d5; }

.grayPanel {
  background-color: #ededed;
  height: 100vh; }

.expandTable {
  width: 100%;
  height: 40px;
  font-size: 1em;
  font-weight: bold; }

.expandRadar {
  width: 200px; }

.expandedInfo {
  margin-top: 50px; }

.technique {
  margin-top: 10px;
  font-size: 1.5em; }

.recommendation {
  margin-top: 20px; }

.controlPanel {
  margin-top: 20px;
  text-align: center; }
  .controlPanel .btn {
    background-color: RGBA(254, 254, 254, 0.15); }

.searchBar {
  margin-top: 40px; }
  .searchBar .finderBar {
    background-color: RGBA(254, 254, 254, 0.15);
    color: black; }
  .searchBar ::-webkit-input-placeholder {
    color: black; }
  .searchBar button {
    background-color: RGBA(254, 254, 254, 0.15); }

body {
  font-family: Avenir; }
