body {
  font-family: Avenir;
}
.container {
  margin: 0;
}
.hero-unit {
  position: relative;
  background-image: url('../images/fish01.jpg');
  background-size: cover;
  height: 80vh;
  margin-bottom: 20px;
}
.hero-unit #left {
  position: absolute;
  left: 20vw;
  top: 12vh;
  font-size: 3em;
}
.hero-unit #right {
  position: absolute;
  right: 30vw;
  top: 25vh;
  font-size: 3em;
}
.infoCard {
  font-size: 1.5em;
}
