<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 grayPanel">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Day</th>
            <th>Location</th>
            <th>Grade</th>
            <th>Save</th>
          </tr>
        </thead>
        <div>
          <tr>
            <td>{{day}}</td>
            <td>{{location}}</td>
            <td>{{grade}}</td>
            <td><i ng-click="saveSpot()" class="fa fa-check-square" data-toggle="tooltip" data-placement="bottom" title="Click to save to favorites."></i></td>
          </tr>
        </div>
      </table>
    </div>
  </div>
</div>
