<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 grayPanel">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Expand</th>
            <th>Day</th>
            <th>Temp</th>
            <th>Pressure</th>
            <th>Condition</th>
            <th>Grade</th>
            <th>Save</th>
          </tr>
        </thead>
        <div>
          <tr>
            <td><i ng-click="expand()" class="fa fa-plus-square" data-toggle="tooltip" data-placement="bottom" title="Click to display more info."></i></td>
            <td>{{day}}</td>
            <td>{{temp}}˚f</td>
            <td>{{pressure}}mb</td>
            <td>{{condition}}</td>
            <td>{{grade}}</td>
            <td><i ng-click="saveSpot()" class="fa fa-check-square" data-toggle="tooltip" data-placement="bottom" title="Click to save to favorites."></i></td>
          </tr>
          <tr>
            <td class="expandTable" colspan='7' ng-show="displayMore">
              <div class="col-md-6"><img class="expandRadar" src="./../public/images/radar.gif" alt="Radar"/></div>
              <div class="col-md-6">
                <div class="row recommendation">Recommended Technique:</div>
                <div class="row technique">{{technique}}</div>
                <div class="row expandedInfo">
                  <form action="http://learninghowtofish.com/fishing-weather/" target="_blank">
                    <button>Learn how weather affects fishing!</button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        </div>
      </table>
    </div>
  </div>
</div>
