<div class="container-fluid">
  <div class="row">
    <div class="hero-unit welcome">
      <div ng-show="firstPhase" class="firstPhase animated fadeInDown">
        <p id="left">Wherever your favorite spot may be...</p>
      </div>
      <div ng-show="secondPhase" class="secondPhase animated fadeInDown">
        <p id="right">...we've got you covered.</p>
      </div>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <div ng-show="thirdPhase" class="row animated fadeInUp">
        <div class="col-lg-4 col-md-4">
          <div class="infoCard">Tools developed by fishermen, for fishermen - gain an extra edge in your fishing experience.</div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="infoCard">Using realtime weather data EliteCatch provides you with the most accurate fishing odds.</div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="infoCard">Save locations to quickly access your favorite spots and spend more time doing what you love.</div>
        </div>
      </div>
    </div>
    <div class="radarInfo">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-6">
            <img id="radarImg" class="animated " src="./public/images/radar.gif" alt="Radar">
          </div>
          <div class="col-md-6">
            <div id="radarDescription" class="pull-right">
              Check our live radar maps to see weather movement in your area. <br><br>
              Radar updates each time you visit the page and covers 500<sup>2</sup> miles. <br><br>
              The radar example on your left is your current location!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="depthInfo">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-6">
            <div id="depthDescription">
              <p id="topParagraph">Using a combination of local climate</p>
              <p>data and satellite imagery, EliteCatch</p>
              <p>gives you a full understanding of which</p>
              <p>depths will provide the best fishing</p>
              <p>odds.</p>
            </div>
          </div>
          <div class="col-md-6">
            <img src="./public/images/thermocline.jpg" alt="Thermocline">
          </div>
        </div>
      </div>
    </div>
    <div class="letsBegin">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div id="searchForm">
              <h1>Quick Start</h1>
              <div class="centerMagic">
                <div class="centerPanel">
                  <form class="input-group">
                    <div class="input-group begin">
                      <span class="input-group-addon" id="basic-addon3">Full name:</span>
                      <input ng-model="fullName" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="John Williams...">
                    </div>
                    <div class="input-group begin">
                      <span class="input-group-addon" id="basic-addon3">Home:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      <input ng-model="homeLocation" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Jacksonhole, WY..." required>
                    </div>
                    <div class="begin">
                      <button ng-click="saveInfo()" class="btn btn-default">Begin</button>
                      <button ng-click="saveInfoGuest()" class="btn btn-default">Try as Guest</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div>Data provided by:</div>
      <div><a href="http://www.wunderground.com" target="_blank"><img src="./public/images/wunderground.jpeg" alt="wunderground"></a></div>
    </div>
  </div>
</div>
