.searchBar {
  margin-top: 40px;
  .finderBar {
    background-color: $transparent-gray;
    color: black;
  }
  ::-webkit-input-placeholder {
    color: black;
  }
  button {
    background-color: $transparent-gray;
  }
  i {
    margin-top: 9px;
  }
}
