.searchBar {
  margin-top: 40px;
  .finderBar {
    background-color: RGBA(254, 254, 254, .15);
    color: black;
  }
  ::-webkit-input-placeholder {
    color: black;
  }
  button {
    background-color: RGBA(254, 254, 254, .15);
  }
  i {
    margin-top: 9px;
  }
}
